@{
    ViewData["Title"] = "Home Page";
}


<h1>@ViewBag.MySqlCon</h1>
<environment names="Development">
    <h1>Ortam : Development</h1>
</environment>

<environment names="Production">
    <h1>Ortam : Production</h1>
</environment>




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
